<!doctype html>
<html ng-app="vpnChooserApp" lang="de">
<head>
    <meta charset="utf-8">
    <title>VPN Chooser</title>
    <link rel="stylesheet" type="text/css" href="dist/css/app.css">
    <script type="text/javascript" src="dist/lib.js"></script>
    <script type="text/javascript" src="dist/app.js"></script>
</head>
<body>
    <div class="ui labeled icon menu" ng-controller="menuCtrl">
        <a class="item" href="#/devices" ng-if="isAuthenticated()"><i class="desktop icon"></i>Devices</a>
        <a class="item" href="#/vpns" ng-if="isAuthenticated()"><i class="upload disk icon"></i>VPNs</a>
        <a class="item"><i class="wrench icon" ng-if="isAuthenticated()"></i>Routers</a>
    </div>
    <div ui-view></div>
</body>
</html>
