<div class="ui divided list">
    <div
            ng-repeat="vpn in vpns"
            class="item"
            ng-controller="vpnCtrl">

        <form name="vpnForm"
              class="four column ui form grid"
              ng-submit="save()">
            <div class="column field">
                <input
                        name="name"
                        type="text"
                        ng-model="vpn.name"
                        class="vpn-name"
                        ng-blur="save()"
                        placeholder="Name"
                        ng-disabled="disabled"
                        required/>
            </div>
            <div class="column field">
                <input
                        name="description"
                        type="text"
                        ng-model="vpn.description"
                        class="vpn-description"
                        ng-blur="save()"
                        placeholder="Description"
                        ng-disabled="disabled"
                        required
                        />
            </div>
            <div class="column field">
                <input
                        name="table"
                        type="text"
                        ng-model="vpn.table"
                        class="vpn-table"
                        ng-blur="save()"
                        placeholder="VPN Table Number"
                        ng-disabled="disabled"
                        required
                        />
            </div>
            <div class="column">
                <button
                        class="delete-button right floated tiny teal ui button"
                        ng-if="displayDeleteButton()"
                        ng-click="delete($event)"
                        >
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>

<button class="add-vpn" ng-click="add_vpn()">
    Add vpn
</button>
